# Object files
*.o
*.ko
*.obj
*.elf
*.img
*.bin
*.bak

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Directories
compile/bin/
compile/_binary
*_retired*
*_RETIRED*
startup.sh
.codio
.c9
.settings
